html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.content{
    border: 0;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to bottom right, #ff8d8d, #3cf1e2);
}

.event-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0 50px grey;
}