 :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  
    *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    
    html {
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    
    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
      display: block; }
  
  
  [tabindex="-1"]:focus {
    outline: 0 !important; }
  
  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  
  
  table {
    border-collapse: collapse; }
  
  caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom; }
  
  th {
    text-align: inherit; }
  
  
  
  
  
  
  input[type="radio"],
  input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    -webkit-appearance: listbox; }
  
  
  
  
  
  body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fdfcf8;
    color: rgb(128, 128, 128); }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #7e0cf5; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #000; }
  
  .bg-primary {
    background: #7e0cf5 !important; }
  
  .ftco-section {
    padding: 1em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
    .content {
      overflow: none;
      width: 1500px;
      padding: 0px 0;
      height: 700px;
      position: relative;
      margin: 10px auto;
      border: outset rgb(27, 1, 4);
      background-image: linear-gradient(rgb(255, 0, 34), rgb(56, 2, 2));
     }
  
  /*  Events display */
  .events-container {
    overflow-y: scroll;
    height: 100%;
    width: 50%;
    float: right;
    margin: 0px auto;
    display: inline-block;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0; }
    @media (max-width: 767.98px) {
      .events-container {
        width: 100%;
        height: auto; } }
  
  .events-container:after {
    clear: both; }
  
    .event-card {
      padding: 20px 0;
      max-width: 100%;
      display: block;
      background: #fff;
      border: none !important;
      margin: 20px;
      margin-left: 12px; }
      @media (max-width: 991.98px) {
        .event-card {
          margin: 10px; } }
      @media (max-width: 767.98px) {
        .event-card {
          margin: 0; } }
  
  .event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-family: cursive;
    
  }
  .event-name1{
    color: #000;
    font-size: 1rem;
  }
  
  .event-count {
    color: #0e0003;
    text-align: right; }
  
  .event-name {
    padding-right: 0;
    color: rgb(8, 8, 8);
    text-align: left; 
    font-family: fantasy;
    font-size: 2rem;
  }
  
  .event-desc {
    color: #000;
    padding-left: 20px;
  }  
  .event-image {
    border: #000;
  }
  
  .event-cancelled {
    color: #6b040d;
    text-align: right; }
  
  /*  Calendar wrapper */
  .calendar-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 50%;
    background: rgb(252, 252, 250);
    font: 13px Helvetica, Arial, san-serif;
    display: inline-block;
    padding: 20px;
    float: left; }
    @media (max-width: 991.98px) {
      .calendar-container {
        padding: 0; } }
    @media (max-width: 767.98px) {
      .calendar-container {
        padding: 0;
        width: 100%; } }
  
  .calendar-container:after {
    clear: both; }
  
    .calendar {
      width: 100%;
      padding: 0;
     }
  
  /* Calendar Header */
  .year-header {
    background: #fff;
    height: 40px;
    text-align: center;
    position: relative;
    color: #fff;
    border-top-left-radius: 3px;
    margin-top: 20px; }
  
  .year-header span {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    color: #000; }
  
  .left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px !important; }
    @media (prefers-reduced-motion: reduce) {
      .left-button, .right-button {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .left-button:hover, .right-button:hover {
      color: #ce0909 !important; }
  
  .left-button {
    left: 0; }
  
  .right-button {
    right: 0;
    top: 0; }
  
  /* Buttons */
  .button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    -webkit-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    color: white;
    border: none;
    background: #4e0105; }
    .button.button-white {
      background: #fff;
      color: #000; }
    .button:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
  
  #cancel-button {
    background: #fd0224; }
  
  #add-button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px; }
  
  #add-button:hover, #ok-button:hover, #cancel-button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }
  
  #add-button:active, #ok-button:active, #cancel-button:active {
    -webkit-transform: translateY(3px) scale(0.97);
    -ms-transform: translateY(3px) scale(0.97);
    transform: translateY(3px) scale(0.97); }
  
  /* Days/months tables */
  .days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center; }
  
  .day {
    height: 26px;
    width: 26px;
    padding: 0 24px;
    line-height: 26px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 15px;
    color: #000; }
  
  .month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 8px;
    padding-top: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 15px;
    color: #e70606;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
    @media (max-width: 991.98px) {
      .month {
        font-size: 8px; } }
    @media (max-width: 767.98px) {
      .month {
        font-size: 10.5px; } }
  
  .active-month {
    font-weight: 700;
    color: #000; }
  
  .month:hover {
    color: #680314; }
  
  /*  Dates table */
  .table-date {
    cursor: default;
    color: #2b2b2b;
    height: 26px;
    width: 30px;
    font-size: 20px;
    padding: 29px;
    line-height: 26px;
    text-align: center;
    border-radius: 0%;
    border: 2px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative; }
  
  .table-date:not(.nil):hover {
    border-color: #cd4d4d; }
  
  .event-date {
    border-color: #310104;
    background: #4e0101;
    color: #fff; }
    .event-date:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 0%;
      content: '';
      background: #28a745; }
  
  .active-date {
    background: #fc0202;
    color: #fff; }
  
  .event-date.active-date {
    background: #330101; }
  
  /* input dialog */
  .dialog {
    z-index: 5;
    background: #000;
    position: absolute;
    width: 50%;
    height: 700px;
    top: 0;
    right: 0;
    display: none; }
    @media (max-width: 767.98px) {
      .dialog {
        width: 100%; } }
  
  .dialog-header {
    margin: 20px;
    color: #fff;
    text-align: center;
    font-size: 28px; }
  
  .form-container {
    margin-top: 25%; }
  
  .form-label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9); }
  
  .input {
    border: none;
    background: none;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    display: block;
    margin-bottom: 50px;
    width: 300px;
    height: 20px;
    text-align: center;
    -webkit-transition: border-color 250ms;
    -o-transition: border-color 250ms;
    transition: border-color 250ms;
    color: #fff; }
  
  .input:focus {
    outline: none;
    border-color: #fff; }
  
  .error-input {
    border-color: #cd4dcc; }

    .grad1 {
  height: 400px;
  width : 120px;
  background-image: linear-gradient(rgb(0, 32, 70), rgb(255, 255, 255));
}
