
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Calendar</title>
      <meta name="description" content="Calendar">
      <meta name="author" content="Charles Anderson">

      {% load static %}

    <link rel = "stylesheet" href = "{% static 'momoj/css/try.css' %}">
    <link rel = "stylesheet" href = "{% static 'momoj/css/events.css' %}">
      <script type="text/javascript" src="{% static 'momoj/js/jquery.min.js' %}"></script>
       <script>
         var all_events = [];
       </script>
      <script type="text/javascript" src="{% static 'momoj/js/try.js' %}"></script>
       <script type="text/javascript" src="{% static 'momoj/js/test.js' %}"></script>
      </head>

    <body>


      <div class="content">
        <div class="calendar-container">
          <div class="calendar">
            <div class="year-header">
              <span class="left-button" id="prev"> &lang; </span>
              <span class="year" id="label"></span>
              <span class="right-button" id="next"> &rang; </span>
            </div>
            <table class="months-table">
              <tbody>
                <tr class="months-row">
                  <td class="month">Jan</td>
                  <td class="month">Feb</td>
                  <td class="month">Mar</td>
                  <td class="month">Apr</td>
                  <td class="month">May</td>
                  <td class="month">Jun</td>
                  <td class="month">Jul</td>
                  <td class="month">Aug</td>
                  <td class="month">Sep</td>
                  <td class="month">Oct</td>
                  <td class="month">Nov</td>
                  <td class="month">Dec</td>
                </tr>
              </tbody>
            </table>

            <table class="days-table">
              <td class="day">Sun</td>
              <td class="day">Mon</td>
              <td class="day">Tue</td>
              <td class="day">Wed</td>
              <td class="day">Thu</td>
              <td class="day">Fri</td>
              <td class="day">Sat</td>
            </table>
            <div class="frame">
              <table class="dates-table">
                  <tbody class="tbody">
                  </tbody>
              </table>
            </div>
            <button class="button" id="add-button"><a href="/admin">Add Event</a></button>
          </div>
        </div>
        <div class="events-container">
        </div>
        <script>
              {% for event in event_list %}
              {% if event.time %}
                all_events.push({{event | safe}})
              {% endif %}
              {% endfor %}
          </script>
    </body>
    </html>